Cloud.ru Models.json
{
  "name": "Cloud.ru Models",
  "nodes": [
    {
      "parameters": {},
      "id": "160e334c-4b32-4473-980f-b5330c204b13",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        848,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "T2RmNP7L73AgePFH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "7174352e-c691-4e22-870f-55d0f40ae6b5",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1504,
        32
      ]
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "0fb91585-3606-4bd7-8acd-ea4ce203fcdc",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1424,
        336
      ],
      "credentials": {
        "ollamaApi": {
          "id": "s2mYC9f3dCFUTj0b",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "=1",
              "type": "string"
            },
            {
              "id": "dd0aa081-79e7-4714-8a67-1e898285554c",
              "name": "folder_id",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c10fd1ce-1582-4046-97ec-06bab681d2d2",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        576
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              },
              {
                "name": "folder_id",
                "value": "={{ $('Set File ID').item.json.folder_id }}"
              }
            ]
          }
        }
      },
      "id": "fc570a97-f8d0-4c46-8de8-b1120f308066",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1632,
        784
      ]
    },
    {
      "parameters": {
        "chunkSize": 100,
        "options": {}
      },
      "id": "1178adc5-27dd-44cd-9896-2cf4c5c9cbff",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1632,
        1008
      ]
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "f7bd1ed3-25e9-4e46-bf16-7fc0882740f0",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1472,
        784
      ],
      "credentials": {
        "ollamaApi": {
          "id": "s2mYC9f3dCFUTj0b",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Локальный RAG AI агент с чатом",
        "height": 527.3027193303974,
        "width": 969.0343804425795
      },
      "id": "2709e83b-8c74-43f5-889f-eea676a0413c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Извлечение данных из локальной базы данных",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "a717e4a6-c379-4759-b717-c84fa2b98e60",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Создать наполнение локальной базы данных из файла с Яндекс Диска",
        "height": 705.2695614889159,
        "width": 1568.9362829025763,
        "color": 5
      },
      "id": "e04267f4-3273-4089-aa58-e1cfc02f3223",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "980f470e-46c0-43bb-901e-b6ee02259feb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        32
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "0c408aba-cfa8-4d43-8c72-e3e0166e1cdf",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1328,
        176
      ],
      "credentials": {
        "qdrantApi": {
          "id": "1x96Cj4aP8Cf1QBx",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"bge-m3\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "7847727c-d76f-4ba0-b448-367ac2bc5da7",
      "name": "Clear Old Vectors",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        672,
        576
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "a3431559-1b12-4591-ba7b-7ea9e21cce43",
      "name": "Qdrant Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1520,
        576
      ],
      "credentials": {
        "qdrantApi": {
          "id": "1x96Cj4aP8Cf1QBx",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0cabe73e-d926-4a18-84e6-85196b102e1b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        752,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6cdbe187-6431-463f-8a22-f281b5d66f7e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://cloud-api.yandex.net/v1/disk/public/resources/download",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "public_key",
              "value": "https://disk.yandex.ru/d/iVEw_O1dZPSdLQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "OAuth y0__xCE86upCBjblgMgqIWRgxTYafysqVNBhh_ceuNTdcdO2errTQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        576
      ],
      "id": "3c48fa03-d996-4a53-a6e0-bf7f8e377fb9",
      "name": "Ya_disk_File_link"
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        576
      ],
      "id": "e5035934-9916-410d-a830-4bab6c48e6a5",
      "name": "Ya_File_Download"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f7200a51-0842-402b-8564-502fe4a44850",
      "name": "Extract Document Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1312,
        576
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        576
      ],
      "id": "5c3622b5-2c33-40fe-82a0-54acaf0e3414",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-235B-A22B-Instruct-2507",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-235B-A22B-Instruct-2507"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        176
      ],
      "id": "b4ce45fe-0d99-4e38-81e9-30fc29da86aa",
      "name": "Cloud.ru Model",
      "credentials": {
        "openAiApi": {
          "id": "ckvVShmXQbrkZmO4",
          "name": "Cloud.ru account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-235B-A22B-Instruct-2507",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-235B-A22B-Instruct-2507"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        240
      ],
      "id": "dc5959d6-d0e2-4afb-a101-659f7cc78f80",
      "name": "Cloud.ru Model1",
      "credentials": {
        "openAiApi": {
          "id": "ckvVShmXQbrkZmO4",
          "name": "Cloud.ru account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Clear Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Vectors": {
      "main": [
        [
          {
            "node": "Ya_disk_File_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ya_disk_File_link": {
      "main": [
        [
          {
            "node": "Ya_File_Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ya_File_Download": {
      "main": [
        [
          {
            "node": "Extract Document Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud.ru Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cloud.ru Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4dbd1994-107c-450b-9480-d7daf7a850e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c505ff45d3dc09fb254ff2ecdc0778cd03da304178d62cb659d63a39a18662c4"
  },
  "id": "dxcUe6H8fSfEHa6v",
  "tags": []
}