automation-examples/_n8n Чат-бот с добавлением файлов удиви босса.json
{
  "name": "Cloud.ru",
  "nodes": [
    {
      "parameters": {},
      "id": "9976b0fb-5013-4b63-908f-0c0ccd2df900",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        528,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "aOkgz39BSgWhdozL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "be7456fe-9e77-4632-8097-2159419775e6",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1184,
        128
      ]
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "c0a7fe3c-4919-407b-a6b7-c3693d9af15a",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1104,
        432
      ],
      "credentials": {
        "ollamaApi": {
          "id": "d6ionLirMjmHpMXu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "=https://disk.yandex.ru/d/iVEw_O1dZPSdLQ",
              "type": "string"
            },
            {
              "id": "dd0aa081-79e7-4714-8a67-1e898285554c",
              "name": "folder_id",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d50ff27f-ca9d-41db-ae9a-e5eb15999a21",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        672
      ]
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              },
              {
                "name": "folder_id",
                "value": "={{ $('Set File ID').item.json.folder_id }}"
              }
            ]
          }
        }
      },
      "id": "ffe9c9dd-5508-40ea-bef6-cccfe3fe9b52",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1312,
        880
      ]
    },
    {
      "parameters": {
        "chunkSize": 100,
        "options": {}
      },
      "id": "0e3bcb52-cf49-48f0-b46f-17231a9c308d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1312,
        1104
      ]
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "4f9ab989-b0ad-44aa-bd4e-a5431edfaa54",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1152,
        880
      ],
      "credentials": {
        "ollamaApi": {
          "id": "d6ionLirMjmHpMXu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Локальный RAG AI агент с чатом",
        "height": 527.3027193303974,
        "width": 969.0343804425795
      },
      "id": "7b1160ef-a3b0-4a01-994f-9e00a7580e4c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Извлечение данных из локальной базы данных",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "3ed0f9c5-5b96-49e6-b471-2933fb26da28",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Создать наполнение локальной базы данных из файла с Яндекс Диска",
        "height": 705.2695614889159,
        "width": 1568.9362829025763,
        "color": 5
      },
      "id": "12dd257f-0893-4a8f-acc5-67a00f6946cd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        544
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9bcc00a1-717e-41df-b684-f5f3f02810eb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        128
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "e5bfd0e1-fd80-4934-b624-83d093e79cea",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "credentials": {
        "qdrantApi": {
          "id": "Olq1RceyWKPhfxkd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"bge-m3\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "5a455fc8-0c07-4a33-87b0-3d6007274c5a",
      "name": "Clear Old Vectors",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        352,
        672
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "938a910c-5f7d-4014-8f4d-4d84f41c92a1",
      "name": "Qdrant Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1200,
        672
      ],
      "credentials": {
        "qdrantApi": {
          "id": "Olq1RceyWKPhfxkd",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Всегда обращайся к Vector Store Tool для поиска ответа на вопрос пользователя {{ $json.chatInput }}. Если ответа на вопрос нет, отвечай: \"не знаю\"",
        "options": {}
      },
      "id": "186bb78a-9f5c-426c-b16f-95fed6341320",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        432,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c69d6de0-3ae7-46db-bfa7-f502cdab0d7c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://cloud-api.yandex.net/v1/disk/public/resources/download",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "public_key",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        672
      ],
      "id": "4828bb82-67fe-4596-aa7d-6d451af8f8be",
      "name": "Ya_disk_File_link"
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        672
      ],
      "id": "f6245c89-4656-4f7d-8c20-d2add1891bf3",
      "name": "Ya_File_Download"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "b88fe3e6-1ce3-48ff-a679-967b9cb4caf1",
      "name": "Extract Document Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        992,
        672
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        672
      ],
      "id": "30a110e9-519f-4e31-9420-590135afcec5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-235B-A22B-Instruct-2507",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-235B-A22B-Instruct-2507"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        272
      ],
      "id": "264f699c-ae39-4c5c-88c9-d93a066b193e",
      "name": "Cloud.ru Model",
      "credentials": {
        "openAiApi": {
          "id": "Drw6RYbirghvM05G",
          "name": "Cloud.ru account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-235B-A22B-Instruct-2507",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-235B-A22B-Instruct-2507"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        336
      ],
      "id": "21f74b3e-4c63-448f-9654-e933dee2d111",
      "name": "Cloud.ru Model1",
      "credentials": {
        "openAiApi": {
          "id": "Drw6RYbirghvM05G",
          "name": "Cloud.ru account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Clear Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Vectors": {
      "main": [
        [
          {
            "node": "Ya_disk_File_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ya_disk_File_link": {
      "main": [
        [
          {
            "node": "Ya_File_Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ya_File_Download": {
      "main": [
        [
          {
            "node": "Extract Document Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud.ru Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cloud.ru Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "befd66be-5044-46e5-aec5-317da815b7fd",
  "meta": {
    "instanceId": "bd51b6b74b4c5bc77f0997eecd0935518cf438cc7bba4adcc58f13feda0b29ab"
  },
  "id": "qLN4o0LA4xKFeOjP",
  "tags": []
}